* {
  font-family: Inter;
}

.presentation-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.title-presentation-container {
  font-weight: 600;
  font-size: 20px;
  color: #18181B;
}

.subtitle-presentation-container {
  font-weight: 400;
  font-size: 12px;
  color: #777777;
}

.date-presentation-container {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  color: #18181B;
}

.pergunta-descricao {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #18181b;
}