* {
  font-family: Inter;
}

.presentation-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
}

.title-presentation-container {
  font-weight: 600;
  font-size: 20px;
  color: #18181B;
}

.subtitle-presentation-container {
  font-weight: 400;
  font-size: 12px;
  color: #777777;
}

.date-presentation-container {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  color: #18181B;
}

.pergunta-descricao {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #18181b;
}

.__alert {
  margin-top: 0 !important;
}
.__alert:before {
  height: 100% !important;
  padding-top: 9px !important;
}
.__alert .__close {
  top: 20px !important;
}
table td,
table th {
  background-color: #fff !important;
}

body.outro .menu-avaliacao {
  background-color: #333;
}
body.outro .menu-avaliacao .ds-btn-bordered:hover {
  color: #333;
}
body.outro .__button-avaliar {
  background-color: #145BA8;
}
body.outro .__button-avaliar:hover {
  background-color: #114985;
}
body.outro .footer {
  background-color: #145BA8 !important;
}
body.outro .footer .ds-btn-bordered:hover {
  color: #145BA8;
}
body.doity .footer .ds-btn-bordered:hover {
  color: #151515;
}