.result-search-card {
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px !important;
  margin-top: 20px;
}

.result-search-card-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center !important;
  margin: 0px;
}

.question-search-card p {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  color: #18181B;
}

.approval-rate {
  color: #66BB33;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  margin-bottom: -2px;
}

.tooltip-approval-rate {
  background-color: #66BB33;
  border-radius: 33px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
}


.result-search-card-second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center !important;
}

.line-progress {
  width: 148px;          
  height: 10px;           
  border-radius: 55px;
  background-color: #e5e5e5;
  overflow: hidden;
}

.progress-bar {
  height: 100%;          
  border-radius: 55px;
}

.progress-bar-color-excelente { 
  background-color: #66BB33;
  height: 100%;          
  border-radius: 55px;
}

.progress-bar-color-bom { 
  background-color: #C5C772;
  height: 100%;          
  border-radius: 55px, 
}

.progress-bar-color-regular {
  height: 100%;          
  border-radius: 55px;
  background-color: #DFAD40;
}

.progress-bar-color-ruim {
  height: 100%;           
  border-radius: 55px;
  background-color: #E66699;
}

.progress-bar-color-pessimo {
  height: 100%;           
  border-radius: 55px;
  background-color: #FF2B34;
}

.numbers-results {
  display: flex;
  gap: 10px;
}

.name-numbers-results {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #777777;
}

.number-people {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  color: #18181B;
}

@media print {

  .w-header {
    display: none;
  }

  .holder-left {
    display: none;
  }

  .holder-parent {
    border: none;
  }

  .breadcrumb {
    display: none;
  }

  .actions {
    display: none;
  }

  .painel-info-artigos {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .holder {
    width: 100%;
  }

  .holder .box {
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .painel-info-artigos {
    border: none;
  }

  #content-grafico {
    page-break-inside: avoid;
  }

  #content-grafico h1 {
    padding-top: 40px;
  }

  .top .split:nth-child(2) {
    display: none;
  }

}