html, body {
    color: #656565;
    font-family: inter;
    font-size: 12px;
    line-height: 18px;
}
a, a:link, a:active, a:visited {
    text-decoration: underline;
}
a:hover {
    color: #656565;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 13px 0 0 15px;
}
ol {
    margin: 0;
    padding: 0;
}
ol li {
    margin: 5px 0 0;
}
ul li {
    /*background-image: url("../img/admin/li.gif");*/
    background-position: left 6px;
    background-repeat: no-repeat;
    margin: 5px 0 0;
    padding: 0 0 0 12px;
}
h1 {
    font-family: inter;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 7px;
}
h2 {
    font-family: inter;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 7px;
}
.box .title h2 {
    font-family: inter;
    font-size: 12px;
    font-weight: bold;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: inter;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 3px;
}