*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

img {
    max-width: 100%;
}

body{
    padding-top: 0px!important;
    padding-bottom: 195px!important;
    background-color: #eeeeee !important;
    position: relative;
}


table td, th{
    border-bottom: 0.063em solid #dddddd;
    text-align: left;
    padding: 0.938em;

    background-color: #EEEEEE;

}

table th{
    width: 7.5em;
    font-weight: bold;
    color: #000000;
    font-size: 0.875em;
}

.container-avaliacao{
    max-width: 60em;
    margin: 0 auto;
}

.content{
    border:1px solid #000000;
}

.menu-avaliacao{
    background-color: #ff2b34;
    padding: 20px;
}

.menu-avaliacao button{
    float: right;
    margin-top: 0.938em;
    padding: 0.313em;
    text-decoration: none;
    border: 0.063em solid #ffffff;
    border-radius: 0.125em;
    color: #ffffff;
    background-color:#514F50;
}

.menu-avaliacao button:hover{
    border: 0.063em solid #f24b61;
    border-radius: 0.125em;
    color: #f24b61;
    background-color:#514F50;
}

.dados-avaliacao{
    background-color: #EEEEEE;
    color: #000000;
    padding: 1.875em;

}

.dados-avaliacao .dados-artigo .titulo-artigo{
    padding-bottom: 0.875em;

}

.dados-avaliacao .dados-artigo h4{
    border-bottom: 0.063em solid #000000;
    padding-bottom: 0.625em;
}

.dados-artigo .img-banner{
	padding-bottom: 10px;
}


.dados-avaliacao .dados-artigo a{
    margin-top: 3.125em;
    padding: 0.625em;
    text-decoration: none;
    border: 0.063em solid #000000;
    border-radius: 0.125em;
    color: #000000;
}

.dados-avaliacao .dados-artigo a:hover{
    border: 0.063em solid #ffffff;
    background-color: #514F50;
    color: #ffffff;
    text-decoration: none;
}

.dados-avaliacao .row p {
  font-size: 14px !important;
}

.down-trabalho {
    padding-top: 30px;
    text-align: center;
}

.tabela-avaliacao td{
	width: 100%;
}

.formulario-dados{
    padding-top: 1.875em;
}



.formulario-dados span{
    font-weight: bold;
    margin-bottom: 1.563em;

}

.comentario-avaliacao span{
    font-weight: bold;
}

.comentario-avaliacao{
    background-color: #EEEEEE;
    padding: 1.875em;
    margin-left: 1.875em;

}

.comentario-avaliacao textarea{
    width: 100%;
    height: 6.250em;
    margin-top: 0.625em;
}



.comentario{
    background-color: #eeeeee;
}

.parecer-avaliacao{
    background-color: #ffffff;
    padding: 1.875em;
    margin-left: 1.875em;

}

.parecer-avaliacao select{
    width: 100%;
    height: 2.875em;
    border-radius: 4px;
    padding-left: 5px;
    margin-top: 0.625em;

}

.parecer-avaliacao span{
    font-weight: bold;
}

.formulario{
    margin: 1.875em 9.375em;
}

.texto-formulario{
    text-align: center;
    padding-top: 0.575em;
}


.btn-enviar-av{
    background-color: #3797DD;
    color: #ffffff;
    border-radius: 0.250em;
    border: 0.063em solid #3797DD;
    padding: 0.375em 0.625em;
    font-size: 0.750em;
}

.enviar-avaliacao .submit input{
    background-color: #3797DD;
    color: #ffffff;
    border-radius: 0.250em;
    border: 0.063em solid #3797DD;
    padding: 0.375em 0.625em;
    font-size: 0.750em;
}

.enviar-avaliacao{
    text-align: center;
    padding-bottom: 1.250em;
}

.star-rating{
    margin-bottom: 2.000em;
    margin-top: 1.000em;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    /*position: relative;*/
    margin-bottom: 0px!important;
}
.rating-input {
    float: right;
    width: 1.000em;
    height: 1.000em;
    padding: 0;
    margin: 0 0 0 -1.000em;
    opacity: 0;
    display: none;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 34px;


}

.criterio{
    margin: 20px 0 20px 0;
}

.criterio label{
    display: inline;
    margin-left: 5px;
 }

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 32px;
    height: 33px;
    margin-right: 5px;
    background: url('../img/estrela-pesquisa.png') 0 0px;
}

.trabalho-comentado{
    margin-top: 20px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


header {
    width: 100%;
}


.tooltip.bottom .tooltip-inner {
    background-color:#EEEEEE;
    color: #000000;
    border-radius: 6px;
    width: 90px;

}


.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #EEEEEE!important;

}

.footer{
  padding-top: 50px !important;
  padding-bottom: 50px;
  background-color: #151515;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}


.box #flashMessage{
    padding: 0.313em 0.625em!important;
    width: 100%;
    position: relative;
    display: inline-block;
    background-position: 8px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    line-height: 2.3em;
    font-weight: bold;
    clear: both;

    display: block;

    background-color: #fbf0f0;
    border: 0.063em solid #b80000;
    color: #b80000;
    margin-bottom: 1.250em;
}

.avaliacao-error{
    margin-top: 80px;
    height: 400px;
}

.media p {
    padding-left: 1.875em;
    margin-left: 1.875em;
    font-weight: bold;
}

.media-apresentacao p {
    font-weight: bold;
}

.media span {
    font-size: 24px;
}

/* Avaliação ~ números e conceito */
.rating-row-number,
.rating-row-conceito {
    width: 100%;
}
.rating-input-number,
.rating-input-conceito {
    display: none !important;
}

.rating-label-number,
.rating-label-conceito {
    font-size: 14px;
    border-radius: 5px;
    background-color: #ccc;
    color: #f1f1f1;
    padding: 5px 10px;
    cursor: pointer;
}
/*#19e692
#8890a2

#ff2b34
#c8232a*/

.rating-label-number:hover,
.rating-label-conceito:hover {
    background-color: #8890a2;
}
.rating-input-number:checked + .rating-label-number,
.rating-input-conceito:checked + .rating-label-conceito {
    background-color: #8890a2;
}

/*Avaliar apresentação*/
.container-avaliacao-apresentacao {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px 40px;
    border-radius: 5px;
}

.container-avaliacao-apresentacao h1 {
  font-size: 24px;
  color: #151515;
  margin: 0 0 20px 0;
}

.container-avaliacao-apresentacao h1.centralizado {
  text-align: center;
}

.container-avaliacao-apresentacao .row {
  margin: 0 0 15px 0;
}

.container-avaliacao-apresentacao .row b {
  font-size: 13px;
  color: #151515;
}

.container-avaliacao-apresentacao .row p {
  font-size: 13px;
  color: #aab1c0;
}

.button-avaliar {
    padding: 9px 35px;
    font-size: 14px;
    background-color: #E72D1D;
    border-radius: 30px;
    border: none;
    color: #fff !important;
    text-decoration: none !important;
    text-transform: capitalize;
    outline: 0 !important;
}

.button-avaliar:hover {
    background-color: #bf2518;
}

/*responsive*/
@media (max-width: 768px) {
  .ds-column-half {
    width: 100%;
  }
  .ds-items-lados-extremos {
    flex-flow: column;
  }
  .ds-items-right {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .dados-avaliacao {
    padding: 20px;
  }
  .container-avaliacao {
    padding: 0 10px;
  }
  .menu-avaliacao {
    text-align: center;
  }
  .menu-avaliacao .container-avaliacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu-avaliacao .container-avaliacao > a {
    display: inline-block;
  }
  .__card.__trabalho-apresentado .__items-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .footer {
    text-align: center;
  }
  .footer .ds-column-half:last-of-type {
    margin-top: 20px;
  }
}

.media-avaliacao {
  font-size: 25px;
}

.container-download-file { background-color: #f6f6f6; padding: 35px 0 45px 0; margin-bottom: 40px !important; }
.container-download-file h5 { color: #aab1c0; font-size: 18px; font-weight: bold; margin-bottom: 20px; }
