@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype'),
        url("../fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

body {
    font-family: Inter;
    line-height: normal !important;
}

/* Display */

.d_width-100 {
    width: 100%;
}

.d_cursor-pointer {
    cursor: pointer;
}

.d_overflow-hidden {
    overflow: hidden;
}

.d_overflow-scroll {
    overflow: scroll;
}

.d_overflow_x-hidden {
    overflow-x: hidden;
}

.d_overflow_x-scroll {
    overflow-x: scroll;
}

.d_overflow_y-hidden {
    overflow-y: hidden;
}

.d_overflow_y-scroll {
    overflow-y: scroll;
}

.d_position-relative {
    position: relative;
}

.d_position-absolute {
    position: absolute;
}

.d_display-flex {
    display: flex;
    align-items: center;
}

.d_flex-column {
    flex-direction: column;
}

.d_display-grid {
    display: grid;
    align-items: center;
}

.d_align-start {
    align-items: flex-start;
}

.d_align-end {
    align-items: flex-end;
}

.d_align-center {
    align-items: center;
}

.d_align-none {
    align-items: unset;
}

.d_justify-end {
    justify-content: end;
}

.d_justify-center {
    justify-content: center;
}

.d_justify-between {
    justify-content: space-between;
}

.d_grid-auto {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.d_grid-1 {
    grid-template-columns: 1fr;
}

.d_grid-2 {
    grid-template-columns: 1fr 1fr;
}

.d_grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.d_gap-05 {
    gap: 5px;
}

.d_gap-08 {
    gap: 8px;
}

.d_gap-10 {
    gap: 10px;
}

.d_gap-15 {
    gap: 15px;
}

.d_gap-20 {
    gap: 20px;
}
.d_gap-25 {
    gap: 25px;
}
.d_gap-30 {
    gap: 30px;
}
.d_gap-35 {
    gap: 35px;
}

.d_margin-unset {
    margin: unset !important;
}

.d_margin-0 {
    margin: 0;
}

.d_margin-05 {
    margin: 5px;
}
.d_margin-10 {
    margin: 10px;
}
.d_margin-15 {
    margin: 15px;
}
.d_margin-20 {
    margin: 20px;
}
.d_margin-25 {
    margin: 25px;
}
.d_margin-30 {
    margin: 30px;
}
.d_margin-35 {
    margin: 35px;
}
.d_margin-40 {
    margin: 40px;
}

.d_margin_bottom-unset {
    margin-bottom: unset !important;
}

.d_margin_bottom-05 {
    margin-bottom: 5px;
}

.d_margin_bottom-08 {
    margin-bottom: 8px;
}

.d_margin_bottom-10 {
    margin-bottom: 10px;
}

.d_margin_bottom-15 {
    margin-bottom: 15px;
}

.d_margin_bottom-20 {
    margin-bottom: 20px !important;
}
.d_margin_bottom-25 {
    margin-bottom: 25px;
}
.d_margin_bottom-30 {
    margin-bottom: 30px;
}
.d_margin_bottom-35 {
    margin-bottom: 35px;
}
.d_margin_bottom-40 {
    margin-bottom: 40px;
}

.d_margin_left-unset {
    margin-left: unset !important;
}

.d_margin_left-05 {
    margin-left: 5px;
}

.d_margin_left-10 {
    margin-left: 10px;
}

.d_margin_left-15 {
    margin-left: 15px;
}

.d_margin_left-20 {
    margin-left: 20px;
}

.d_margin_top-unset {
    margin-top: unset !important;
}

.d_margin_top-05 {
    margin-top: 5px;
}

.d_margin_top-10 {
    margin-top: 10px;
}

.d_margin_top-15 {
    margin-top: 15px;
}

.d_margin_top-20 {
    margin-top: 20px;
}

.d_margin_top-25 {
    margin-top: 25px;
}
.d_margin_top-30 {
    margin-top: 30px;
}

.d_margin_top-35 {
    margin-top: 35px;
}

.d_margin_top-40 {
    margin-top: 40px;
}

.d_margin_right-unset {
    margin-right: unset !important;
}

.d_margin_right-05 {
    margin-right: 5px;
}

.d_margin_right-10 {
    margin-right: 10px;
}

.d_margin_right-15 {
    margin-right: 15px;
}

.d_margin_right-20 {
    margin-right: 20px;
}

.d_padding-unset {
    padding: unset !important;
}

.d_padding-05 {
    padding: 5px;
}
.d_padding-10 {
    padding: 10px;
}
.d_padding-15 {
    padding: 15px;
}
.d_padding-20 {
    padding: 20px;
}
.d_padding-25 {
    padding: 25px;
}
.d_padding-30 {
    padding: 30px;
}
.d_padding-35 {
    padding: 35px;
}
.d_padding-40 {
    padding: 40px;
}

.d_padding_bottom-unset {
    padding-bottom: unset !important;
}

.d_padding_bottom-05 {
    padding-bottom: 5px;
}

.d_padding_bottom-10 {
    padding-bottom: 10px;
}

.d_padding_bottom-15 {
    padding-bottom: 15px;
}

.d_padding_bottom-20 {
    padding-bottom: 20px;
}

.d_padding_left-unset {
    padding-left: unset !important;
}

.d_padding_left-05 {
    padding-left: 5px;
}

.d_padding_left-10 {
    padding-left: 10px;
}

.d_padding_left-15 {
    padding-left: 15px;
}

.d_padding_left-20 {
    padding-left: 20px;
}

.d_padding_left-60 {
    padding-left: 60px;
}

.d_padding_top-unset {
    padding-top: unset !important;
}

.d_padding_top-05 {
    padding-top: 5px;
}

.d_padding_top-10 {
    padding-top: 10px;
}

.d_padding_top-15 {
    padding-top: 15px;
}

.d_padding_top-20 {
    padding-top: 20px;
}

.d_padding_right-unset {
    padding-right: unset !important;
}

.d_padding_right-05 {
    padding-right: 5px;
}

.d_padding_right-10 {
    padding-right: 10px;
}

.d_padding_right-15 {
    padding-right: 15px;
}

.d_padding_right-20 {
    padding-right: 20px;
}

.d_flex-wrap {
    flex-wrap: wrap;
}

.d_border_radius-05 {
    border-radius: 5px;
}
.d_border_radius-10 {
    border-radius: 10px;
}
.d_border_radius-15 {
    border-radius: 15px;
}
.d_border_radius-20 {
    border-radius: 20px;
}
.d_border_radius-25 {
    border-radius: 25px;
}

.d_background-white {
    background-color: #fff;
}
.d_background-gray {
    background-color: #F4F6F8;
}
.d_background-light_gray {
    background-color: #EBEBEB;
}
.d_background-red {
    background-color: #FF2B34;
}

.d_border-gray {
    border: 1px solid #CDD1D9;
} 

/* Text */

.d_input-label {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    display: block;
    padding-bottom: 5px;
    line-height: normal;

}

.d_text-gray {
    color: #737277;
}

.d_text-red {
    color: #FF2B34 !important;
}

.d_text-light_gray {
    color: #AEAEAE;
}

.d_text-dark {
    color: #4A4A4A;
}

.d_text-dark5150 {
    color: #515050;
}

.d_text-darker {
    color: #1C1C1C;
}

.d_text-white {
    color: #fff;
}

.d_text-green {
    color: #2CC36B;
}

.d_text-link {
    color: #3498DB !important;
}

.d_text-placeholder {
    color: #AEAEAE;
}

.d_font_size-10 {
    font-size: 10px;
}

.d_font_size-12 {
    font-size: 12px;
}

.d_font_size-13 {
    font-size: 13px;
}

.d_font_size-14 {
    font-size: 14px;
}

.d_font_size-16 {
    font-size: 16px;
}

.d_font_size-18 {
    font-size: 18px;
}

.d_font_size-20 {
    font-size: 20px;
}

.d_font_size-24 {
    font-size: 24px;
}

.d_font_size-30 {
    font-size: 30px;
}

.d_font_size-32 {
    font-size: 32px;
}

.d_font_size-35 {
    font-size: 35px;
}

.d_font_weight-400 {
    font-weight: 400;
}

.d_font_weight-500 {
    font-weight: 500;
}

.d_font_weight-600 {
    font-weight: 600;
}

.d_font_weight-700 {
    font-weight: 700;
}

.d_text-center {
    text-align: center;
}

.d_text-left {
    text-align: left;
}

.d_text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    white-space: nowrap;
}

.d_required-highlight {
    color: #FF2B34;
    padding: 0 !important;
    margin: 0 !important;
    float: none !important;
    display: unset !important;
}

/* Input/Button */

.d_input {
    background-color: #FFF;
    height: 40px;
    padding: 0 10px;
    padding: 5px 10px;
    font-size: 12px;
    width: 100% !important;
    border-radius: 8px !important;
    font-family: Inter !important;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.d_input::placeholder {
    color: #AEAEAE;
    font-family: Inter !important;
    font-size: 12px !important;
}

.d_input:focus, .d_input:focus-visible, .d_input:focus-within {
    outline: none;
    border-color: #868D9A;
}

.d_button {
    display: flex;
    -moz-width: fit-content !important;
    width: fit-content !important;
    height: 40px !important;
    padding: 10px 25px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    border-radius: 5px !important;
    background: #FF2B34 !important;
    color: #fff !important;
    font-family: Inter !important;
    font-size: 12px !important;
    cursor: pointer !important;
    border: none !important;
    text-decoration: none !important;
    font-weight: 400 !important;
    line-height: normal !important;
    box-sizing: border-box;

}

.d_button.d_button-rounder {
    height: 35px !important;
    border-radius: 8px !important;
}

.d_button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FF2B34  !important;
}

.d_button.d_button-mh {
    height: 40px !important;
}

.d_button.d_button-sh {
    height: 35px !important;
}

.d_button.d_button-220 {
    width: 220px !important;
}

.d_button.d_button-gray {
    border: 1px solid #CDD1D9 !important;
    background: rgba(226, 230, 237, 0.20) !important;
    color: #4A4A4A !important;
}

.d_button.d_button-gray:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), rgba(226, 230, 237, 0.20) !important;
}

.d_button.d_button-white {
    border: 1px solid #AEAEAE !important;
    background: #fff !important;
    color: #4A4A4A !important;
}

.d_button.d_button-white:hover {
    border: 1px solid #FF2B34 !important;
    color: #FF2B34 !important;
}

.d_button.d_button-disabled {
    cursor: unset !important;
    border: none !important;
    background-color: rgb(211, 216, 229) !important;
}
.d_button.d_button-disabled:active {
    pointer-events: none;
}

.d_button.d_button-green {
    background: #2CC36B !important;
}

.d_button.d_button-blue {
    background: #2196F3 !important;
}

.d_button.d_button-blue:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #2196F3 !important;
}

.d_input-taller {
    height: 45px;
}

.d_input-error {
    border-color: #FF2B34;
}

.d_input-radio_wrapper {
    display: flex;
}

.d_input-radio_wrapper label {
    margin-right: 30px;
    margin-left: 8px;
}

/* Icon */

.d_icon-box {
    display: flex;
    width: 100%;
    max-width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #CDD1D9;
    background: rgba(226, 230, 237, 0.20);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.d_icon-box label {
    cursor: pointer;
}
.d_icon-box:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), rgba(226, 230, 237, 0.20);
}

/* Tags */

.d_tag {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    width: fit-content;
    max-width: 100px;
    font-size: 10px;
}

.d_tag.d_tag-gray {
    background: #EBEBEB;
    color: #4A4A4A;
}

.d_tag.d_tag-warning {
    background: #FFF2C7;
    color: #FFA826;
}

.d_tag.d_tag-success {
    background: #E7FFE1;
    color: #66BB33;
}

.d_tag.d_tag-error {
    background: #FFDBDB;
    color: #FF2B34;
}

/* MODAL */

.d_modal-outer {
    margin: 0;
    width: 600px;
    max-height: 625px;
    position: fixed;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1002;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    outline: medium none;
}

.d_modal-header {
    margin: 34px 34px 30px 34px;
    display: flex;
    justify-content: space-between;
}

.d_modal-body {
    padding: 0 35px;
}

.d_modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px;
    padding-top: 30px;
    gap: 10px;
}

.d_modal-shadow {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1001;
    background-color: #000;
    content: '';
}

@media (max-height: 610px) {
    .d_modal-outer {
        max-height: 100%;
        margin: 10px 0;
    }
    .d_modal-inner {
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    .d_modal-outer {
        width: 100%;
        padding: 0 10px;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .d_modal-inner {
        padding-top: 34px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    .d_modal_wrapper-header {
        margin: 0 34px 34px 34px !important;
    }
    .d_modal_mobile-header {
        width: unset !important;
        padding: 0 34px 34px 34px !important;
    }
}

/* TABELA */

.d_table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #EBEBEB;
}

.d_tabble-wrapper {
    width: 100%;
}

.d_table-filters {
    display: flex;
    width: 100%;
}

.d_table-header {
    background-color: transparent;
}

.d_table-header td {
    padding: 10px 15px !important;
    border-bottom: 1px solid #EBEBEB;
    color: #4A4A4A !important;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #F4F6F8 !important;
    height: 40px;
}

.d_table-body td {
    min-height: 30px;
    background-color: #fff !important;
    border-bottom: 1px solid #EBEBEB !important;
    color: #737277 !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: table-cell;
    align-content: center !important;
}

.d_table-body td a {
    color: #737277 !important;
}

.d_table-saque-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FFDBDB;
}

.d_table-venda-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #E7FFE1;
}

/* FAKE TABLE */

.d_fake-table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #EBEBEB;
}

.d_fake_table-header {
    display: grid;
}

.d_fake_table-header .td {
    padding: 15px;
    background-color: #F4F6F8;
    border-bottom: 1px solid #EBEBEB;
    color: #4A4A4A;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.d_fake_table-body {
    display: grid;
}

.d_fake_table-body .td {
    background-color: #fff;
    padding: 15px;
    color: #737277;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: table-cell;
    align-content: center;
}

.d_fake_table-body:not(:last-of-type) .td {
    border-bottom: 1px solid #EBEBEB;
}

/* CHECKBOX */

.d_checkbox {
    width: 13px;
    height: 13px;
    accent-color: #FF2B34;
}

/* FLASH MESSAGE */

.d_flashMes {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 17px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 18px;
    /* gap: 10px;
    padding: 17px;
    border-radius: 5px; */

}

.d_aviso {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #5B97F0;
    background: #F2F7FF;
    color: #5B97F0;
    font-size: 12px;
    font-weight: 400;
}

.d_flashMes-warning {
    background-color: #FFFBD2;
    border: 1px solid #FFE926;
    color: #CA851D;
}

.d_flashMes-error {
    background: #FDEDED;
    border: 1px solid #FF2B34;
    color: #FF2B34;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.d_flashMes-success {
    border-radius: 5px;
    border: 1px solid #6B3;
    background: #EAFFDE;
    padding: 14px 25px 14px 40px !important;
    color: #66BB33;
    position: relative;
}

.d_flashMes-success::before {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translate3d(0, -50%, 0);
    content: '';
    background-image: url("../icons/FlashMes-success.svg");
}

/* PAGINATION */

.d_pagination-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    justify-content: center;
}

.d_pagination-wrapper span {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer !important;
    color: #333 !important;
    border-radius: 4px;
    border: 1px solid #D9D9D9 !important;
}

.d_pagination-wrapper span:hover {
    background-color: #F4F6F8;
}

.d_pagination-wrapper span.next:hover, .d_pagination-wrapper span.prev:hover {
    background-color: #FF2B34;
    border: none !important;
}

.d_pagination-wrapper span:hover a svg path {
    fill: #fff;
}

.d_pagination-wrapper a {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333 !important;
    text-decoration: none !important;
}

.d_pagination-wrapper span.current {
    color: #fff !important;
    background-color: #FF2B34;
    border: none !important;
}

.d_pagination-wrapper span.current a {
    color: #fff !important;
}

/* FORM */

.d_table-td {
    display: table-cell;
    align-content: center;
}

/* TOOLTIP */

.d_tooltip {
    padding: 8px;
    border-radius: 4px;
    background: #737277;
    display: none;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.d_tooltip-success {
    background: #66BB33;
}

.d_tooltip p {
    color: #fff;
    font-size: 12px;
    z-index: 5;
    position: relative;
}

.d_tooltip::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    background: #737277;
    top: -3px;
    left: 41%;
    transform: rotate(45deg);
    z-index: 0;
}

.d_tooltip.d_tooltip-success::after {
    background: #66BB33;
}

@media (max-width: 768px) {
    .d_tabble-wrapper {
        overflow-x: scroll;
    }
    .d_tabble-wrapper table {
        width: max-content !important;
    }
}