@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype'),
        url("../fonts/Inter-VariableFont_slnt,wght.ttf") format('truetype');
}

@media only screen and (min-width: 1021px) {
	.lote-mobile_dropdown {
		display: none;
	}
}

@media only screen and (max-width: 1020px) {
	.lote-desktop_cell {
		display: none;
	}
}

.lote-mobile-wrapper {
	display: none;
}

.lote-mobile_dropdown td {
	border: none;
	border-top: none !important;
}

.box .forms {
	padding : 10px 20px 20px;
}

.section_wrapper {
	padding: 33px 53px;
}

.forms form {
	margin : 10px 0 0;
	padding : 0;
	font-family: 'Inter';
}

.forms .input{
	display : inline-block;
	border-top : 1px solid #dbdbdb;
	padding : 10px 0;
	width : 100%;
}

.forms #div-upload-image-logo_organizador .input {
	padding: 0 !important;
}

.form-evento .input {
    border: none;
}

.forms .input .radio {
/* border: 1px solid #CDCDCD; */
    border-radius: 4px 4px 4px 4px;
    clear: both;
    display: inline;
    overflow: hidden;
    padding: 5px 5px 0;
}

.forms .size-images {
    border: 1px solid #CCCCCC;
    padding: 10px 5px 5px;
    width: 98%;
}

.forms .input  label, .radio legend{
	display : block;
	padding : 0 0 5px;
	color: #1E1E1E;
	font-size: 12px;
	font-weight: 500;
}

.lote_section-wrapper {
    padding: 33px 53px;
    border-radius: 20px;
}

#div-campos-pesonalizados .campo-cadastrado {
    width: 80% ;
}

.radio fieldset {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 0 2px 7px;
}

.radio legend {
    padding: 2px;
}

.forms .radio label {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.forms .input.text span {
	float : left;
	display : block;
	margin : 0 20px 0 4px;
	line-height : 20px;
}

.forms .input span.date {
	margin : 4px 4px 0 0;
}


/* //////////////////// INPUT \\\\\\\\\\\\\\\\\\\\ */

.forms .input input {
	float : left;
	background-image : url("../img/input-back.gif");
	background-repeat : repeat-x;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	outline: none;
	padding : 3px 5px 3px;
	margin : 0;
	color : #1c1c1c;
	line-height : 1.4em;
	width : 646px;
	height : 18px;
}

.form-evento .input input {
    height: 20px;
}

.form-evento .input input , .form-evento .input textarea, .form-evento .input select{
    float: none;
    background-color: #FFF;
    background-image: none;
    font-size: 14px;
    color: #4E443C;
	width: 100% !important;
	border-radius: 8px;
	border: 1px solid #D9D9D9;
}

.form-evento .input select{
    padding-top: 5px !important;
    background-color: #FFF;
    background-image: none;
    color: #4E443C;
}

.forms .radio input {
    width: 10px;
}

.box .tabs .input input:not(.cr-slider) {
    width: 606px !important;
}

.box .login .input input {
    width: 426px !important;
}

.forms .input input.xxx-small,
.forms .input select.xxx-small,
.forms .input textarea.xxx-small {
	width : 50px;
        margin: 0 20px 0 0;

}

.forms .input input.xx-small,
.forms .input select.xx-small,
.forms .input textarea.xx-small {
	width : 80px;
        margin: 0 20px 0 0;
}

.forms .input input.x-small,
.forms .input select.x-small,
.forms .input textarea.x-small {
	width : 100px;
        margin: 0 20px 0 0;

}

.forms .input input.x-small[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

.forms .input input.x-small[type="number"]::-webkit-inner-spin-button,
.forms .input input.x-small[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.input_number-arrow_wrapper {
	position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transform: translate3d(-50%, -50%, 0);
    bottom: 1px;
    right: 5px;
}

.input_number-arrow_wrapper svg {
	cursor: pointer;
}

.sub_title {
	color: #4A4A4A;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

input.x-small {
	max-width: 142px;
	height: 40px !important;
	border-radius: 10px;
	border: 1px solid #D9D9D9;
}

.forms .input input.small,
.forms .input select.small,
.forms .input textarea.small {
	width : 156px;
}

.forms .input input.medium,
.forms .input select.medium,
.forms .input textarea.medium {
	width : 406px;
}

.forms .input input.large,
.forms .input select.large,
.forms .input textarea.large {
	width : 270px;
}


.forms .input input.big,
.forms .input select.big,
.forms .input textarea.big {
	width : 646px;
}

.forms .input input[type=file] {
    height: 28px;
}

/* //////////////////// SELECT \\\\\\\\\\\\\\\\\\\\ */

.forms .input .sb-custom {
	float : left;
	position: relative;
	margin : 0 4px 0 0;
	height : 26px;
}

.forms .select {
    overflow: hidden;
}

.forms .input select {
	background-color: transparent;
        background-image: url("select-arrow.svg");
        background-repeat: no-repeat;
		background-position-x: 97%;
		background-position-y: 42%;
        border: 1px solid #CDCDCD;
        border-radius: 4px 4px 4px 4px;
        color: #1C1C1C;
        float: left;
        height: 25px;
        line-height: 1.4em;
        margin: 0;
        outline: medium none;
        padding: 3px 5px;
        width: 658px;
		-moz-appearance:none; /* Firefox */
    	-webkit-appearance:none; /* Safari and Chrome */
    	appearance:none;
}

.box .tabs .input select {
    width: 616px !important;
}
.box .tabs .input select[multiple=multiple]{
    height: 180px;
}

.forms .input .sb-overlay {
	position : relative;
	z-index : 999;
}

.forms .input ul.sb-dropdown {
	position : absolute;
	display : none;
	background-color : #FFFFFF;
	border : 1px solid #cdcdcd;
	top : 25px;
	left : 5px;
	list-style-type : none;
	overflow : hidden;
	z-index : 1400;
	margin : 0;
	padding : 0;
	width : 225px;
}

.forms .input ul.sb-dropdown li {
	position : relative;
	background : none;
	background-color : #FFFFFF;
	padding : 0;
	margin : 0;
}

.forms .input ul.sb-dropdown a, ul.input .sb-dropdown a:link, ul.input .sb-dropdown a:active, ul.input .sb-dropdown a:visited {
	display : block;
	background : none;
	padding : 5px 10px;
	overflow : hidden;
	font-family : Arial;
	cursor : pointer;
	color: #1c1c1c;
	font-size : 12px;
	line-height : 22px;
	text-decoration: none;
	width : 205px;
	height : 21px;
}

.forms .input ul.sb-dropdown a:hover,
.forms .input ul.sb-dropdown .selected {
  background-color : #f7f7f7;
}

/* //////////////////// TEXTAREA \\\\\\\\\\\\\\\\\\\\ */

.forms .input textarea {
	float : left;
	background-image : url("../img/input-back.gif");
	background-repeat : repeat-x;
	background-color : transparent;
	border : 1px solid #D9D9D9;
	-webkit-border-radius : 8px;
	-moz-border-radius : 8px;
	border-radius : 8px;
	resize : none;
	overflow : auto;
	outline: none;
	padding : 5px;
	margin : 0;
	font-size : 12px;
	font-family : Arial;
	color : #1c1c1c;
	line-height : 12px;
	width : 646px;
	height : 80px;
}

.box .tabs .input textarea {
    width: 606px !important;
}

.form-evento .input textarea {
    float: none !important;
    background-color: #FFF;
    background-image: none;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4E443C;
    padding: 10px;
}

/* //////////////////// CHECKBOX & RADIO \\\\\\\\\\\\\\\\\\\\ */

.forms .input input.checkbox,
.forms .input input.radio {
	border : 0;
	padding : 0;
/*	margin : 3px 0 0;*/
	margin :  6px 0 0;
	outline: invert none medium;
	width : 13px;
	height : 13px;
}

.forms .input input.checkbox:focus,
.forms .input input.radio:focus{
	outline: #cdcdcd solid 1px;
}

/* //////////////////// BUTTONS \\\\\\\\\\\\\\\\\\\\ */

.forms .checkbox input[type=checkbox] {
    float: right;
    margin-right: 360px;
    overflow: hidden;
    width: 20px !important;
}

.form-evento  .checkbox input[type=checkbox] {
    float: none;
}

.formas-pagamento {
	display: grid !important;
    padding: 0 !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 187px));
    gap: 15px;
}

.formas-pagamento .checkbox {
		width: 15%;
		min-width: 170px;
		margin: 0 0 13px 0;
		max-width: 300px;

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		        flex-flow: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		        justify-content: flex-start;
}

.formas-pagamento .checkbox.com-desconto {
	width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    border: 1px solid #CDD1D9;
    padding: 20px;
    border-radius: 10px;
	cursor: pointer;
}

.formas-pagamento .checkbox input[type="checkbox"] {
    width: 13px !important;
    margin-right: 0 !important;
    float: left !important;
    height: 13px !important;
}

.formas-pagamento .checkbox .formas-pagamento-desconto {
	display: flex;
	flex-flow: column;
	margin-top: 10px;
	position: relative;
}

.crop-label {
	border-radius: 10px;
	border: none;
}

.formas-pagamento .checkbox .formas-pagamento-desconto label {
	margin: 0px !important;
	padding: 0px !important;
}

.formas-pagamento .checkbox .formas-pagamento-desconto input {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	overflow: hidden;
	padding-right: 40px !important;
	height: 30px !important;
}

.formas-pagamento .checkbox .formas-pagamento-desconto input::placeholder {
	font-size: 10px;;
}

.formas-pagamento .checkbox .formas-pagamento-desconto:before {
	content: '%';
	position: absolute;
	right: 0px; bottom: 1px;
	height: 28px;
	width: 33px;
	background-color: #D9D9D9;
	border-left: 1px solid #D9D9D9;
	font-size: 13px;
	color: #444;
	text-align: center;
	border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms .checkbox label {
    float: left;
    /* margin-top: 10px; */
    margin-top: 0;
    width: 230px;
    font-weight: normal;
	padding: 0;
}

.form-evento .checkbox label {
    width: 170px;
}

.formas-pagamento .checkbox label {
    float: left;
    width: auto !important;
    margin-top: 0;
    padding: 0;
	color: #4E5666;
	font-family: Inter;
	font-size: 12px;
}

.box-campos-personalizados .checkbox label {
    display: inline;
    float: right;
}


.forms .labelradio {
    width: 20%;
    vertical-align: middle;
}

.form-evento .labelradio {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.radiogroup {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

.radio-item {
	display: flex;
	align-items: center;
	gap: 6px;
}

.form-evento .radiogroup {
    margin-left: 0;
}
.radiogroup label{
    margin-right: 20px;
}

.radiogroup label{
    margin-right: 20px;
}

.radiogroup input[type=radio] {
	accent-color: #FF2B34;
}


.buttons{
    padding : 10px 0 0;
    overflow: hidden;
}

.buttons div{
	float : left;
	padding : 5px 0 0 0;
        margin-right: 10px;
}
.botaolote{
    width: 135px;
    margin-top: 10px;
}
.buttons .cancel{
	float : left;
	padding: 8px 0 0;
}

.row button::-moz-focus-inner {border:0;padding:0;margin:0;}

.row button{
	float : left;
	background-repeat : repeat-x;
	background-color : transparent;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	border : none;
	outline: none;
	padding : 0;
	margin : 0 4px 0 0;
	cursor : pointer;
	text-transform : uppercase;
    overflow: visible;
	width : auto;
}

.forms .input button span{
	float : left;
	background-repeat : repeat-x;
	background-color : transparent;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	padding : 0 15px;
	margin : 0;
	font-family : Arial;
	font-size : 14px;
	font-weight : bold;
	line-height : 1.87em;
	color : #FFFFFF;
	white-space : nowrap;
}


.forms .input button:hover span {
	background-position : left bottom;
	border : 1px solid #2b2b2b;
}

/* //////////////////// UPLOAD BUTTON \\\\\\\\\\\\\\\\\\\\ */

.box .input input.file {
	margin : 0 4px 0 0;
	z-index : 99;
}

.box .input div.btn-upload {
	background-position : right top;
	background-repeat : no-repeat;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
}

.box .input div.btn-upload:hover {
	background-position : right bottom;
	border : 1px solid #2b2b2b;
}

/* //////////////////// DATE PICKER \\\\\\\\\\\\\\\\\\\\ */

.input input.datepicker {
	background-image : url("404.html");
	background-position : right top;
	background-repeat : no-repeat;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	margin : 0 20px 0 0;
	cursor : pointer;
	width : 92px;
}

.form-evento .input input.datepicker {
    background: #FFF;
}

a.botao, button.botao {
    border: none;
    border-radius: 1px;
    height: 30px !important;
    font-size: 12px;
    height: 32px;
    margin: 0 1.5em 1.2em 0;
    margin: 0;
    vertical-align: bottom;
    background: #3498db;
    border: none;
    border-radius: 2px 2px 2px 2px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 27px;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
}

a.botao{
    text-decoration: none;
    line-height: 31px;
    height: 29px;
}
.opcoes-left ul {
    padding: 0 !important;
}

.login {
    overflow: hidden;
}

.login .submit {
    float: right;
}

.login input[type=submit] {
    border-radius: 3px 3px 3px 3px;
    min-width: 86px;
    height: 31px;
    line-height: 22px;
    padding: 0 6px;
    padding-bottom: 2px;
}


.box .title-add-evento h2 {
    font-size: 16px;
    font-weight: 600 !important;
    padding-bottom: 5px;
    margin-bottom: 10px;
	color: #4A4A4A;
}

.form-evento .xxx-small {
    width: 60px !important;
}

.form-evento .x-small {
    width: 120px !important;
}


#div-qtd-parcelas {
    overflow: hidden;
    margin-top: 10px;
}
