* {
  font-family: Inter;
}

.required-asterisk {
  color: red;
}

.classicLabelInupt {
  font-weight: 500;
  font-size: 0.75vh;
  color: #414651;
}

.classicGreyButton {
  border: #CDD1D9 solid 1px;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #414651 !important;
}

.classicRedButton {
  background: #FF2B34;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.horizontal-divider {
  width: 100%;
  color: #CCCCCC;
  height: 1px;
  border: 0.5px solid;
  margin: 20px 0px 10px 0px;
}

.action-row-questions {
  display: flex;
  justify-content: space-between;
}

#modal-info-feedback-pos-evento{
  border: none;
  max-width: 500px;
  min-height: 350px !important;
  border-radius: 15px;
  display: none;
}

.modal-feed-back-pos-evento{
  min-height: 440px !important; 
  padding: 50px !important;
  padding-right: 0px !important ;
}

.modal-feed-back-pos-evento p{
  margin-bottom: 18px;
}

.modal-feed-back-pos-evento #strong-modal-feedback{
  font-weight: bold;
}

#btn-modal-feedback-pos-evento{
 padding: 15px; 
 background-color: #ff2b34;
 color: white;
 border: none;
 border-radius: 5px;
cursor: pointer;
}

#btn-modal-feedback-pos-evento:hover{
  background-color: #f73941;
}

.feedback-pos-close{
  padding: 30px !important;
  padding-top: 20px !important;
  padding-left: 18px !important;
  padding-right: 20px !important;
  text-align: center;
}


#responder-mais-tarde-feedback-pos-modal{
  margin-left: 80px;
}

.noBreadcrumbPaddingTop {
  padding-top: 0 !important;
}

#footer {
  display: flex;
  justify-content: center;
  gap: 3px;
}
@media (max-width: 768px) {
  #footer {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 960px) {
  .migration-new {
      left: 0 !important;
      padding: 21px 20px !important;
  }
}
@media (max-width: 564px) {
  .content_wrapper {
      flex-direction: column;
  }
}
.migration-new {
  width: 100%;
  background: #D9D9D9;
  padding: 21px 91px;
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 100;
}
.migration-new .content_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
}

.top2_breadcrumb span {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.holder {
  margin: 60px 0 0 0;
  height: calc(100vh - 60px);
}
.__headbar {
  border-bottom: none;
}

#modal-help iframe {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  height: 100%;
  }


  @media (max-width: 960px) {
    .top2_breadcrumb {
        display: none;
    }
    .__painel-header {
        flex-direction: column;
        align-items: flex-start;

    }
    .__painel-header .filters {
        margin-left: 0;
        margin-top: 16px;
        max-width: unset;
    }
    .migration-new {
        left: 0 !important;
        padding: 21px 20px !important;
    }
    .__center-mobile {
        display: flex !important;
    }
    .top2-breadcrumb {
        display: none;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 564px) {
    .content_wrapper {
        flex-direction: column;
    }
}

.divider {
  margin-top: 16px;
  border: none;
  border-top: 1px solid #CCCCCC;
}

.textareaInputSearch {
  width: 100%;
  border: 1px solid #D5D7DA;
  border-radius: 8px;
  resize: none;
  padding: 8px;
}

.__headbar {
  border-bottom: none;
}
.holder {
  margin: 96px 0 0 0;
  height: calc(100vh - 96px);
}


.mensagem {
  margin: 10px 0 0 0;
}

#ajax-loader {
  background-color: #111;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1060;
  background: rgba(0, 0, 0, 0.1);
}

#ajax-loader div {
  display: block;
  height: 10%;
  left: 50%;
  margin: -150px 0 0 -280px;
  outline: medium none;
  position: fixed;
  top: 60%;
  width: 560px;
  z-index: 2050;
}

#ajax-loader span.ajax-loader-message {
  display: none;
  position: fixed;
  background: #FCF8E3;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  top: 50%;
  margin-top: -20px;
  font-size: 12px;
  color: #8a6d3b;
  border: 1px solid #faebcc;
}

#img-ajax-load-center {
  background-color: #000000;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
}