@import '960.css';
@import 'admin_responsive.css';
@import 'admin_text.css';
@import 'admin_v2.css';
@import 'admin.css';
@import 'bootstrap-tooltip.css';
@import 'croppie.css';
@import 'datepicker.css';
@import 'doitystrap.css';
@import 'form.css';
@import 'gray.css';
@import 'jquery-ui.css';
@import 'jquery.sidr.light.css';
@import 'jquery.thumbs.css';
@import 'main.css';
@import 'menu.css';
@import 'messages.css';
@import 'reset.css';
@import 'statics.css';
@import 'tabs.css';
@import 'thickbox.css';
@import 'wysiwyg-editor.css';
@import 'wysiwyg.css';
@import 'wysiwyg.modal.css';
@import 'global.css';
@import 'pages/editar-pesquisa.css';
@import 'pages/preview-pesquisa.css';
@import 'pages/pesquisa-geral.css';
@import 'pages/resultados-pesquisa.css';
@import 'avaliar-artigo.css';
@import 'font-awesome.min-1.css';
@import 'avaliar-artigo.css';
@import 'bootstrap.min.css';
@import 'osx.css';
